:root {
  --default-background: #13171f;
  --menu-color: #3e3f44;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: var(--default-background);
}

main {
  margin: 8px;
  margin-bottom: 15lvh;
}

header {
  border: 3px solid black;
  background-color: #6c1ceb;
  color: white;
  text-align: center;
  text-shadow: -1px 1px 2px black;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;

  .authorBy {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.7rem;
    text-shadow: -1px 1px 1px #404040;
    text-align: right;
  }
}

h1 {
  margin: 4px 0;
}

#audioFreqCanv {
  width: 100%;
  height: 100%;
  border: 2px #090909 solid;
  border-radius: 5px;
}

.audioPlayerContainer audio {
  pointer-events: none;
}

.audioDisplayAndControlsContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 45lvh;
}

.audioDisplayContainer {
  width: 50lvw;
}

.audioFXControls {
  width: 50lvw;
  margin: 5px;
}

footer .credits {
  font-style: italic;
  color: #bbbcc4;
}